Repository denchiklut/loadable-image: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --cache --fix", "prettier --write"],
  "*.{html,md,mdx,json}": ["prettier --write"]
}

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --cache --fix", "prettier --write"],
  "*.{html,md,json}": ["prettier --write"]
}

feat: docs - add sources docs
  README.md
  docs/package.json
  docs/src/@types/index.d.ts
  docs/src/async-image/image.stories.tsx
  docs/src/async-image/images/thumbnail.jpeg
  docs/src/async-image/images/thumbnail.webp
  package.json
Due: eslint --cache --fix, prettier --write

Updates
  141.7d8bb97b.iframe.bundle.js
  141.9e008414.iframe.bundle.js
  141.9e008414.iframe.bundle.js.LICENSE.txt
  async-image-image-docs-mdx.82631f2e.iframe.bundle.js
  async-image-image-docs-mdx.8752122d.iframe.bundle.js
  async-image-image-stories.70571df8.iframe.bundle.js
  async-image-image-stories.e7c6fc0c.iframe.bundle.js
  iframe.html
  index.json
  project.json
  runtime~main.0850d8a3.iframe.bundle.js
  runtime~main.7a31298a.iframe.bundle.js
  static/media/thumbnail.28db386c.jpeg
  static/media/thumbnail.b35e1682.webp
  static/media/thumbnail.ebf086b4.jpeg
  stories.json
Due: prettier --write

feat: docs - fix typo in format names
  README.md
  docs/package.json
  package.json
Due: prettier --write

Updates
  project.json
Due: prettier --write

feat: docs - update docs
  docs/src/async-image/image.docs.mdx
Due: prettier --write

Updates
  async-image-image-docs-mdx.07d37f5c.iframe.bundle.js
  async-image-image-docs-mdx.82631f2e.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.29636dd6.iframe.bundle.js
  runtime~main.7a31298a.iframe.bundle.js
Due: prettier --write

feat: dependencies - update docs dependencies
  .gitignore
  docs/package.json
Due: prettier --write

feat: dependencies - update lib dependencies
  package.json
Due: prettier --write

feat: dependencies - update lib dependencies
  README.md
  docs/package.json
  package.json
Due: prettier --write

feat: 3.0.3 - update lib dependencies
  README.md
Due: prettier --write

Updates
  141.7b54f61a.iframe.bundle.js
  141.7b54f61a.iframe.bundle.js.LICENSE.txt
  141.9e008414.iframe.bundle.js
  141.9e008414.iframe.bundle.js.LICENSE.txt
  569.4df4ea0c.iframe.bundle.js
  569.4df4ea0c.iframe.bundle.js.LICENSE.txt
  569.4df4ea0c.iframe.bundle.js.map
  569.7a10601d.iframe.bundle.js.map
  866.128dee43.iframe.bundle.js
  866.128dee43.iframe.bundle.js.LICENSE.txt
  866.128dee43.iframe.bundle.js.map
  866.84fb32e4.iframe.bundle.js
  866.84fb32e4.iframe.bundle.js.map
  iframe.html
  project.json
  runtime~main.29636dd6.iframe.bundle.js
  runtime~main.d2c09e83.iframe.bundle.js
  sb-addons/essentials-controls-1/manager-bundle.js
  sb-manager/chunk-6XRB7ZEN.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: prettier --write

feat: 3.0.4 - update readme
  README.md
  docs/package.json
  package.json
  public/cover.jpg
Due: prettier --write

feat: 3.0.5 - update readme
  README.md
  docs/package.json
  package.json
Due: prettier --write

feat: readme - update readme
  README.md
Due: prettier --write

Updates
  569.4df4ea0c.iframe.bundle.js.map
  569.77dac580.iframe.bundle.js
  569.77dac580.iframe.bundle.js.LICENSE.txt
  569.77dac580.iframe.bundle.js.map
  866.128dee43.iframe.bundle.js
  866.128dee43.iframe.bundle.js.map
  866.8b1a4f01.iframe.bundle.js
  866.8b1a4f01.iframe.bundle.js.LICENSE.txt
  866.8b1a4f01.iframe.bundle.js.map
  iframe.html
  project.json
  runtime~main.76ad0e7a.iframe.bundle.js
  runtime~main.d2c09e83.iframe.bundle.js
  sb-addons/essentials-actions-2/manager-bundle.js
  sb-addons/essentials-controls-1/manager-bundle.js
  sb-addons/interactions-8/manager-bundle.js
  sb-manager/chunk-IZBYDH3T.js
  sb-manager/index.js
  sb-manager/runtime.js
Due: prettier --write

feat: 3.0.6 - update readme
  docs/package.json
  package.json
Due: prettier --write

feat: cn - add support for `className` prop - update readme
  README.md
  package.json
  src/async-image/async-image.styles.tsx
  src/async-image/async-image.tsx
  src/async-image/async-image.types.ts
Due: eslint --cache --fix, prettier --write

feat: cn (#8)
  README.md
  package.json
  src/async-image/async-image.styles.tsx
  src/async-image/async-image.tsx
  src/async-image/async-image.types.ts
Due: eslint --cache --fix, prettier --write

feat: docs - update docs deps
  docs/package.json
Due: prettier --write

Updates
  141.6029f5ae.iframe.bundle.js
  141.6029f5ae.iframe.bundle.js.LICENSE.txt
  141.994d6d78.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.06021675.iframe.bundle.js
  runtime~main.532d0e6b.iframe.bundle.js
Due: prettier --write

feat: tailwind - refactored style prop to be optional
  README.md
  docs/package.json
  docs/src/async-image/image.docs.mdx
  package.json
  src/async-image/async-image.styles.tsx
  src/async-image/async-image.tsx
  src/async-image/async-image.types.ts
Due: eslint --cache --fix, prettier --write

feat: tailwind (#9)
  README.md
  docs/package.json
  docs/src/async-image/image.docs.mdx
  package.json
  src/async-image/async-image.styles.tsx
  src/async-image/async-image.tsx
  src/async-image/async-image.types.ts
Due: eslint --cache --fix, prettier --write

Updates
  141.54b8d0f5.iframe.bundle.js
  141.54b8d0f5.iframe.bundle.js.LICENSE.txt
  141.6029f5ae.iframe.bundle.js
  async-image-image-docs-mdx.468b1b43.iframe.bundle.js
  async-image-image-docs-mdx.b63d4ddd.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.532d0e6b.iframe.bundle.js
  runtime~main.d11715e5.iframe.bundle.js
Due: prettier --write

feat: CI/CD - added GitHub actions setup
  .github/actions/setup/action.yml
  .github/workflows/bun-cache.yml
  .github/workflows/main.yml
Due: none

feat: CI/CD - switch to yarn for GA
  .github/actions/setup/action.yml
  .github/workflows/main.yml
  .github/workflows/yarn-cache.yml
  .gitignore
  yarn.lock
Due: none

Updates
  497.0732bae7.iframe.bundle.js.map
  497.433fc530.iframe.bundle.js
  497.433fc530.iframe.bundle.js.LICENSE.txt
  497.433fc530.iframe.bundle.js.map
  iframe.html
  project.json
  runtime~main.8db220e3.iframe.bundle.js
  runtime~main.d11715e5.iframe.bundle.js
  sb-addons/essentials-actions-2/manager-bundle.js
  sb-addons/essentials-controls-1/manager-bundle.js
  sb-addons/interactions-8/manager-bundle.js
Due: prettier --write

feat: CI/CD - mv deploy to separate Job
  .github/workflows/docs.yml
  .github/workflows/main.yml
Due: none

feat: Docs - fix docs/deploy
  .github/workflows/docs.yml
Due: none

feat: error transition - fix transition for error state - fixed types for sources
  package.json
  src/async-image/async-image.types.ts
  src/async-image/image/image.tsx
  src/async-image/image/sources/index.tsx
  src/async-image/image/sources/sources.utils.ts
Due: eslint --cache --fix, prettier --write
