Repository denchiklut/loadable-image: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --cache --fix", "prettier --write"],
  "*.{html,md,json}": ["prettier --write"]
}

feat: storybook - add storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/async-image/async-image.stories.tsx
  src/async-image/async-image.styles.tsx
  src/async-image/async-image.tsx
  src/async-image/async-image.types.ts
  src/async-image/docs/docs.styles.tsx
  src/async-image/docs/docs.template.tsx
  src/async-image/docs/index.ts
  src/async-image/index.ts
  src/async-image/lazy/index.ts
  src/async-image/lazy/lazy.hooks.ts
  src/async-image/lazy/lazy.tsx
  src/async-image/lazy/lazy.types.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: storybook - add storybook
  package.json
  src/async-image/docs/docs.styles.tsx
  src/async-image/docs/docs.template.tsx
  src/async-image/lazy/lazy.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: storybook - add storybook
  .github/workflows/main.yml
  README.md
  package.json
  src/@types/index.d.ts
  src/async-image/docs/docs.template.tsx
  src/async-image/docs/images/thumbnail-loader.jpeg
  src/async-image/docs/images/thumbnail.jpeg
Due: eslint --cache --fix, prettier --write

Updates
  115.34c4310d.iframe.bundle.js
  115.34c4310d.iframe.bundle.js.LICENSE.txt
  229.01db683c9cc86a6f74bb.manager.bundle.js
  229.912beeb4.iframe.bundle.js
  273.a8f352b0.iframe.bundle.js
  273.a8f352b0.iframe.bundle.js.LICENSE.txt
  295.29226561e7a9c503ae95.manager.bundle.js
  505.9d25ac80c8c4969218c4.manager.bundle.js
  505.9d25ac80c8c4969218c4.manager.bundle.js.LICENSE.txt
  51.1f5af20e.iframe.bundle.js
  51.1f5af20e.iframe.bundle.js.LICENSE.txt
  51.763ab43c49cfad9445b7.manager.bundle.js
  51.763ab43c49cfad9445b7.manager.bundle.js.LICENSE.txt
  551.2c161688d971690288c5.manager.bundle.js
  551.b075c1a5.iframe.bundle.js
  701.fddf4324.iframe.bundle.js
  745.376439c3.iframe.bundle.js
  807.4b2fe1fd.iframe.bundle.js
  807.4b2fe1fd.iframe.bundle.js.LICENSE.txt
  807.7baca3173019b5178fd1.manager.bundle.js
  807.7baca3173019b5178fd1.manager.bundle.js.LICENSE.txt
  891.1b1765a9.iframe.bundle.js
  891.1b1765a9.iframe.bundle.js.LICENSE.txt
  897.4afb9d34.iframe.bundle.js
  897.4afb9d34.iframe.bundle.js.LICENSE.txt
  897.e90f4968d07fcca34c12.manager.bundle.js
  897.e90f4968d07fcca34c12.manager.bundle.js.LICENSE.txt
  935.39a00b15.iframe.bundle.js
  935.7984d995a10643bf4082.manager.bundle.js
  favicon.ico
  iframe.html
  index.html
  main.5d370c15cc237e234884.manager.bundle.js
  main.9b35fe9e.iframe.bundle.js
  project.json
  runtime~main.352d9feb.iframe.bundle.js
  runtime~main.f1aafc25b9f30e05fa89.manager.bundle.js
  static/media/thumbnail-loader.1fdcfd22.jpeg
  static/media/thumbnail.ebf086b4.jpeg
Due: prettier --write

Feat/storybook (#1)
  .github/workflows/main.yml
  README.md
  package.json
  src/@types/index.d.ts
  src/async-image/async-image.stories.tsx
  src/async-image/docs/docs.styles.tsx
  src/async-image/docs/docs.template.tsx
  src/async-image/docs/images/thumbnail-loader.jpeg
  src/async-image/docs/images/thumbnail.jpeg
  src/async-image/lazy/lazy.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Updates
  iframe.html
  main.9b35fe9e.iframe.bundle.js
  main.be77baa3.iframe.bundle.js
  project.json
Due: prettier --write

Feat/storybook (#1)
  README.md
  package.json
Due: prettier --write

Updates
  project.json
Due: prettier --write

Updates
  iframe.html
  main.4fdf9ce6.iframe.bundle.js
  main.be77baa3.iframe.bundle.js
  project.json
Due: prettier --write

feat/storybook - update readme
  package.json
Due: prettier --write

Updates
  535.f876cccb.iframe.bundle.js
  535.f876cccb.iframe.bundle.js.LICENSE.txt
  891.1b1765a9.iframe.bundle.js
  iframe.html
  main.4fdf9ce6.iframe.bundle.js
  main.a6ae727e.iframe.bundle.js
  project.json
Due: prettier --write

feat: transitions-kit - update version
  package.json
  yarn.lock
Due: prettier --write

fix: rm storybook-static folder
  .gitignore
Due: none

fix: deps
  package.json
Due: prettier --write

feat: update - update transitions-kit
  package.json
  yarn.lock
Due: prettier --write

Updates
  535.821c27fc.iframe.bundle.js
  535.821c27fc.iframe.bundle.js.LICENSE.txt
  535.f876cccb.iframe.bundle.js
  iframe.html
  project.json
Due: prettier --write

Updates
  535.37c140e5.iframe.bundle.js
  535.37c140e5.iframe.bundle.js.LICENSE.txt
  535.821c27fc.iframe.bundle.js
  iframe.html
  project.json
Due: prettier --write

fix: box-sizing - add box-sizing: 'border-box'
  README.md
  package.json
  src/async-image/async-image.styles.tsx
  src/async-image/docs/docs.styles.tsx
  src/async-image/docs/docs.template.tsx
  src/async-image/lazy/lazy.tsx
Due: eslint --cache --fix, prettier --write

Updates
  iframe.html
  main.5f5a26cb.iframe.bundle.js
  main.a6ae727e.iframe.bundle.js
  project.json
Due: prettier --write

fix: styles
  package.json
  src/async-image/async-image.tsx
Due: eslint --cache --fix, prettier --write

Updates
  iframe.html
  main.5f5a26cb.iframe.bundle.js
  main.a5687495.iframe.bundle.js
  project.json
Due: prettier --write

Updates
  iframe.html
  main.a5687495.iframe.bundle.js
  main.a5de71a5.iframe.bundle.js
  project.json
Due: prettier --write

feat: upadte deps
  .gitignore
  package.json
  src/async-image/async-image.styles.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Updates
  535.37c140e5.iframe.bundle.js
  535.b63904f0.iframe.bundle.js
  535.b63904f0.iframe.bundle.js.LICENSE.txt
  iframe.html
  project.json
Due: prettier --write

feat: deps - update deps
  package.json
Due: prettier --write

Updates
  273.3da294da.iframe.bundle.js
  273.3da294da.iframe.bundle.js.LICENSE.txt
  273.a8f352b0.iframe.bundle.js
  505.9d25ac80c8c4969218c4.manager.bundle.js
  505.be40892664b1e74b3ea6.manager.bundle.js
  505.be40892664b1e74b3ea6.manager.bundle.js.LICENSE.txt
  535.5b216543.iframe.bundle.js
  535.5b216543.iframe.bundle.js.LICENSE.txt
  535.b63904f0.iframe.bundle.js
  807.232f66370d954c02c74c.manager.bundle.js
  807.232f66370d954c02c74c.manager.bundle.js.LICENSE.txt
  807.4b2fe1fd.iframe.bundle.js
  807.7baca3173019b5178fd1.manager.bundle.js
  807.a6cb71b4.iframe.bundle.js
  807.a6cb71b4.iframe.bundle.js.LICENSE.txt
  iframe.html
  index.html
  project.json
  runtime~main.2d4e85ed38d8c4135d3f.manager.bundle.js
  runtime~main.352d9feb.iframe.bundle.js
  runtime~main.4439df0e.iframe.bundle.js
  runtime~main.f1aafc25b9f30e05fa89.manager.bundle.js
Due: prettier --write

feat: libs - update deps
  package.json
  rollup.config.js
Due: prettier --write

feat: libs - update deps
  package.json
Due: prettier --write

Updates
  115.1f58b900.iframe.bundle.js
  115.1f58b900.iframe.bundle.js.LICENSE.txt
  115.34c4310d.iframe.bundle.js
  229.01db683c9cc86a6f74bb.manager.bundle.js
  229.ec9ae3b999bcbba144c5.manager.bundle.js
  505.be40892664b1e74b3ea6.manager.bundle.js
  51.0543fc5c1792a18fb343.manager.bundle.js
  51.0543fc5c1792a18fb343.manager.bundle.js.LICENSE.txt
  51.1f5af20e.iframe.bundle.js
  51.5065a047.iframe.bundle.js
  51.5065a047.iframe.bundle.js.LICENSE.txt
  51.763ab43c49cfad9445b7.manager.bundle.js
  535.0f109749.iframe.bundle.js
  535.0f109749.iframe.bundle.js.LICENSE.txt
  535.5b216543.iframe.bundle.js
  551.2c161688d971690288c5.manager.bundle.js
  551.5b7c6103fb7b6e458848.manager.bundle.js
  782.7b364436e9c96ef4c893.manager.bundle.js
  782.7b364436e9c96ef4c893.manager.bundle.js.LICENSE.txt
  807.232f66370d954c02c74c.manager.bundle.js
  807.248ac7a0.iframe.bundle.js
  807.248ac7a0.iframe.bundle.js.LICENSE.txt
  807.84744159029cfe4d5c04.manager.bundle.js
  807.84744159029cfe4d5c04.manager.bundle.js.LICENSE.txt
  807.a6cb71b4.iframe.bundle.js
  935.7984d995a10643bf4082.manager.bundle.js
  935.a7468648a6c272baaeca.manager.bundle.js
  iframe.html
  index.html
  main.5d370c15cc237e234884.manager.bundle.js
  main.a5de71a5.iframe.bundle.js
  main.eca6f87fc3709b439b63.manager.bundle.js
  main.f170ffc1.iframe.bundle.js
  project.json
  runtime~main.2d4e85ed38d8c4135d3f.manager.bundle.js
  runtime~main.4439df0e.iframe.bundle.js
  runtime~main.9f7440239fa787b6d6ec.manager.bundle.js
  runtime~main.dead23d1.iframe.bundle.js
Due: prettier --write

feat: docs - update deps
  docs/.babelrc
  docs/.prettierrc
  docs/.storybook/main.js
  docs/.storybook/preview-head.html
  docs/.storybook/preview.js
  docs/package.json
  docs/src/@types/index.d.ts
  docs/src/async-image/image.stories.tsx
  docs/src/async-image/template/images/thumbnail-loader.jpeg
  docs/src/async-image/template/images/thumbnail.jpeg
  docs/src/async-image/template/index.tsx
  docs/src/async-image/template/styles.tsx
  docs/tsconfig.json
  package.json
  src/async-image/docs/index.ts
Due: eslint --cache --fix, prettier --write
